/*body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}*/
/*body,h1,h2,h3,h4,h5,a {font-family: "Raleway", sans-serif;font-size:16px; font-weight: 100;}*/
body,h1,h2,h3,h4,h5,a {font-family: "Roboto", sans-serif;font-size:16px; font-weight: 100;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.title{font-weight: bold;}

